{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link href="{{ asset('bundles/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/css/bootstrap-theme.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
{% endblock %}

{% block title '' %}

{% block body %}
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}
