.block-theme {
    font-size: 18px;
}
.block-num {
    font-size: 20px;
    color: green;
}
.thumbnail {
    margin-bottom: 7px;
    margin-left: 45px;
}
#block-client {
    width: 200px;
    text-align: center;
}
.row label.required:after {
    content: "*";
}
.error {
    color: red;
}
.invalid {
    border-color: #E9322D!important;
    box-shadow: 0 0 5px #E9322D!important;
    border-radius: 5px;
}
textarea {
    resize: none;
}
.grid-cell-num {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.grid-cell-day {
    color: green;
    font-size: 22px;
}
.grid-cell-comment {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}
.reset-margin-bottom{
    margin-bottom: 0;
}
.reset-margin-left{
    padding-left: 0;
}
.caption > img {
    width: 60px;
}
.caption p {
    clear: both;
}
.thumbnail > a > img {
    width: 60px;
}
.block-file {
    border: 1px solid #000000;
    width: 300px;
}