.block-theme {
    font-size: 18px;
}
.block-num {
    font-size: 20px;
    color: green;
}
.thumbnail {
    margin-bottom: 7px;
    margin-left: 45px;
}
#block-client {
    width: 200px;
    text-align: center;
}
.row label.required:after {
    content: "*";
}
.error {
    color: red;
}
.invalid-selector {
    border-color: #E9322D!important;
    box-shadow: 0 0 5px #E9322D!important;
    border-radius: 5px;
}
textarea {
    resize: none;
}