<div id="error-window" class="hidden">
    <div class="Message Message--red" id="js-timer">
        <div class="Message-icon">
            <i class="icon-cancel-6"></i>
        </div>
        <div class="Message-body">
            <p align="center">{{ message }}</p>
        </div>
        <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
    </div>
</div>