{% extends "AcmeIndexBundle::layout.html.twig" %}
{% block title "Правила исполнителя" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <p>Правила автора</p>
            </div>
        </div>
    {% endblock %}
