{% extends "AcmeIndexBundle::layout.html.twig" %}
{% block title "Правила заказчика" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <p>Правила клиента</p>
            </div>
        </div>
    {% endblock %}
