{% extends "AcmeIndexBundle::layout.html.twig" %}
{% block title "Начальная страница" %}
{% block content_header '' %}
{% block content %}
        <div id="content">
            <p><a href="{{ path('login') }}">Вход в систему</a></p>
            <p><a href="{{ path('client_reg', {'type': 'client'}) }}">Регистрация как заказчик</a></p>
            <p><a href="{{ path('author_reg', {'type': 'author'}) }}">Регистрация как исполнитель</a></p>
        </div>
{% endblock %}
