{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block content %}
        <div class="container">
            <div class="row">
                {{ test }}
                <p><a href="{{ path('logout') }}">Выйти</a></p>
            </div>
        </div>
    {% endblock %}
