{% extends "AcmeAuthBundle::layout.html.twig" %}

{% block title "Success Registration" %}

{% block content_header '' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span2 centred">
                <p>{{ userLogin }}, проверьте Вашу почту для подтверждения регистрации в системе!</p>
            </div>
        </div>
    </div>
{% endblock %}
