{% extends "AcmeAuthBundle::layout.html.twig" %}

{% block title "Client registration" %}

{% block content_header '' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6 centred">
                <form action="{{ path('client_reg') }}" method="post">
                    {{ form_widget(formReg) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
