{% extends "AcmeAuthBundle::layout.html.twig" %}
    {% block content %}
        <div class="container">
            <div class="row">
                <p>Доступ запрещен!</p>
                <p><a href="{{ path('client_index') }}">Зайдите</a> в систему либо пройдите <a href="{{ path('client_reg') }}">регистрацию</a></p>
            </div>
        </div>
    {% endblock %}
