{% block context_menu %}
{% spaceless %}
<div class="contextMenu" id="contextMenu" style="display:none">
    <ul>
        <li id="open-in-new-tab">
            <span style="font-size:100%">Открыть в новой вкладке</span>
        </li>
    </ul>
</div>
{% endspaceless %}
{% endblock context_menu %}